<%= link_to "Reset Players", {:controller => "players", :action => "index", :reset => true }, class: "default float-left warning button search_button" %>
<h3>Player Index</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Session</th>
      <th>Name</th>
      <th>Status</th>
      <th>Unique link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.session_id %></td>
        <td><%= player.name %></td>
        <td><%= player.status %></td>
        <td><%= player.unique_link %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
