<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @player.session_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @player.status %>
</p>

<p>
  <strong>Unique link:</strong>
  <%= @player.unique_link %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
